.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* ================= FONT SETTING STARTS ================= */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Montserrat:wght@500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Heebo', sans-serif;  
  margin: 0;
  padding: 0;
}

.heading, .subheading, .h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.heading {
  font-size: 48px;
}

.h2 {
  font-size: 36px;
}

.subheading {
  font-size: 24px;
}

.P {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.bttntxt {
  font-family: 'Heebo', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.title {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.link{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
} /* Font ends */

.MuiDataGrid-columnHeaderTitle{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
}

.MuiPagination-root {
  font-family: 'Heebo', sans-serif;
}

.MuiPaginationItem-text{
  font-family: 'Heebo', sans-serif;
}

.page_bttn .page_cont {
  color: #5333ED;
}


/* ================= MEDIA ================= */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
